# Folder
/.restore_amsworkshopsystem
/BackupData
/imageBuffer
/Logs
/old
/ReceiptHist
/TempExcelData

# Files
Anydesk.exe
cloud1gb - Shortcut.lnk
dist - Shortcut.lnk
myconfig.properties
TablesCreated.txt

